.main-breadcrumb {

    .ant-breadcrumb-link{
        color: #C1C1C1;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        a {
            color: #838383;
        }
    } 
}