.button {
    width: auto;
    border: none;
    display: flex;
    outline: none;
    height: 3.3rem;
    color: #909090;
    font-size: 1.6rem;
    align-items: flex-start;
    background: transparent;

    &__content {
        gap: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        display: flex;
        align-items: center;
    } 
    &__label {
        font-weight: 500;
        max-width: 18.5rem;
        white-space: nowrap;
        overflow: hidden;
    }

    transition: .2s;
}

.button:hover {
    color: #22B5DC;
    border-bottom: 1px solid #22B5DC;
    cursor: pointer;
    .inlne-icon path {
        transition: .2;
        stroke: #22B5DC;
    }
}
