.main-header {
    padding: 2.2rem 4rem !important;
    background-color: #fff;
    height: 8.5rem;

    .main-container {
        height: 100%;
        line-height: normal !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .second-logo {
                width: 12.5rem;
                height: 3.725rem;
                margin-right: 13.7rem;
            }
            .collapsed {
                transition: all .3s;
                opacity: 0;
                visibility: hidden;
                position: absolute;      
            }

            .header-actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .header-buttons {
                    display: flex;
                    align-items: center;
                }
                .header-buttons > *:not(:last-child){
                    margin-right: 7.7rem;
                }
            }
            .header-right {
                gap: 4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .user-action {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

}

