.sidebar__header {
    display: flex;
    height: 8.7rem;
    align-items: center;
    padding: 0 2.1rem 0 3.3rem;
    justify-content: space-between;
    background-color: #1F1E1E;

    &--logo {
        width: 12.5rem;
        height: 3.725rem;
    }

    &--button {
        color: #fff;
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--button:hover {
        color: #fff!important;
    }
}

.main-menu {
    margin-top: 2.1rem;
    height: 23.3rem;
    margin-bottom: 2.4rem;
}

.collapsed {
    padding: 0 !important;
    justify-content: center !important;
    .ant-menu-title-content {
        visibility: hidden !important;
        opacity: 0 !important;
    }
    .main-filters {
        margin-top: 4px;
        margin-left: 3.2rem;
        margin-right: 2.4rem;
        overflow: hidden;
    }

    .main-menu {
        height: auto;
    }

    .divider {
        display: none;
    }

    .main-filters::-webkit-scrollbar {
        border: none;
    }

    .main-filters::-webkit-scrollbar-track {
        width: 0;
    }

    .main-filters::-webkit-scrollbar-thumb {
        border: none;
    }

    transition: .21s;
}

.ant-menu-submenu-title {
    font-weight: 600 !important;
    font-size: 1.6rem;
    .ant-menu-title-content{
        margin-left: 10px !important;
    }
}

.ant-layout-sider, .ant-menu {
    background: #2E2E2E !important;
    color: #fff;
}

.ant-menu-item-icon {
    font-weight: 600 !important;
    font-size: 20px !important;
}

.ant-menu-item-only-child:hover {
    background-color: #22B5DC!important;
}

.ant-menu-item-selected {
    background-color: inherit!important;
}

.divider {
    border-top: 1px solid #484848;
    margin: 0 2.8rem;
}

.main-filters {
    margin: 2.4rem 2.8rem;
    margin-bottom: 0;
    height: calc(100vh - 39.1rem);
    overflow-y: scroll;
}

.main-filters::-webkit-scrollbar {
    width: 3px;
}

.main-filters::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #474747;
}

.main-filters::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #BABABA;
}

.btn {
    border: none;
    background-color: transparent;
    outline: none;
}